.flex-wrapper-main{
    border: 1px solid red;
}

.dataContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.dataSelect {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid yellow;
}


.data-wrapper{
    border: 1px solid red;
    width: 250px;
    height: 150px;
}

.source{
    font-size:x-large;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px solid green;
}

.data {
    font-size: large;
    margin-top: 10px;
    border: 1px solid blue
}